* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: #e5e5e5;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}
